//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//

// Variables => Fonts
//----------------------------------------------------//
$main-font: 'Arial';
$main-font-size: 16px;
$main-font-height: 1;
$main-font-weight: 400;
$main-font-color: #000;

$fix-font: sans-serif;


//$rub: 'rubl';
//
//.rub {
//  font-style: normal;
//  font-family: $rub !important;
//}

// Variables => Typography
//----------------------------------------------------//

$h1-fz: 35px;
$h2-fz: 32px;
$h3-fz: 24px;
$h4-fz: 20px;
$h5-fz: 18px;
$h6-fz: 16px;


// Variables => Colors
//----------------------------------------------------//
// Default
$default: #333;
$white: #fff;
$black: #000;
$red: #dc3836;

$body-color: $white;
$link-color: $red;

// Variables => Other
//----------------------------------------------------//
$trs: all .3s ease-in-out;
